QtProject.conf
copyq/
.gitignore
Code/
Electron/
YouTube\ Music/
btop/
copyq/
dconf/
discord/
go/
google-chrome/
gtk-2.0/
gtk-3.0/
htop/
lazygit/
menus/
mimeapps.list
obsidian/
pavucontrol.ini
pulse/
systemd/
vesktop/
xfce4/
Thunar/accels.scm
gh/
JetBrains/
github-copilot/
onlyoffice/
